<header class="app-header">

    <div class="logo-container header-item ">
        <img class="img" src="../../assets/img/logo.png" alt="">
    </div>

    <div class="sidebar-toggle-container header-item ">
        <img class="img"  src="../../assets/img/menu-button.svg" alt="">
    </div>

    <nav class="app-nav">
        <ul class="nav-list">
            <li class="nav-item">ТЕСТЫ ТЕСТЫ ТЕСТЫ</li>
        </ul>
    </nav>

    <div class="app-header-user-info">

        <div class="notifications-container">
            <div class="notifications-toggle">
                <img src="" alt="">
                <span class="notifications-count">5</span>
            </div>
        </div>

        <div class="user-pic-container">
            <img class="img" src="../../assets/img/vova.jpg" alt="Profile picture">
        </div>

    </div>

</header>